.header{
	grid-column: 1/3;
	grid-row: 1;
	border-bottom: 1px solid #ccc;
}
.header>img{
	width: 70px;
	height: 70px;
	margin-top: 15px;
	margin-right: 20px;
	float: left;
}
.header>h2{
	color: #404040;
	margin: 30px 15px;
	padding-left: 20px;
}
.header>p{
	float: right;
	margin-top: -70px;
	padding: 10px;
	font-size: 15px;
	color: #fff;
	background-color:#e9b000;
}
.header>p:hover{
	background-color: #008f95;
}